<div class="header section">
  {{#if header}}
  <div class="banner header" style="background: url('{{{header_image}}}');"></div>
  <div class="title section">
    <h2>{{{title}}}</h2>
  </div>
  {{/if}}
</div>
<div class="body section">
  <div class="wrapper section table">
    <div class="table-cell pad-right hide-until-md">
      <div class="image crop">
        <img src="{{{image}}}" alt="{{{caption}}}"/>
      </div>
    </div>
    <div class="table-cell">
      <blockquote>{{{tagline}}}</blockquote>
      <p>{{{body}}}</p>
    </div>
  </div>
</div>
