{{#if header}}
<div class="header section">
  <div class="banner header" style="background: url('{{{header_image}}}');"></div>
  <div class="title section">
    <h2>{{{title}}}</h2>
  </div>
</div>
{{/if}}
<div class="body section">
  <div class="wrapper section grid">
    <div class="block block-md-6">
      <blockquote>{{{tagline}}}</blockquote>
      <div class="image crop">
        <img src="{{{image}}}" />
      </div>
    </div>
    <div class="block block-md-6">
      <p class="no-space">{{{body}}}</p>
    </div>
  </div>
</div>
