<div class="header section">
  {{#if header}}
  <div class="banner parallax" style="background-image: url('{{{header_image}}}');"></div>
  <div class="title section">
    <h2>{{{title}}}</h2>
  </div>
  {{/if}}
</div>
<div class="body section">
  <div class="wrapper section grid">
    <div class="block block-lg-5">
      <h3>{{{body.0.title}}}</h3>
      <p>{{{body.0.copy}}}</p>
      <ul>
        {{#each body.0.events}}
          <li>{{{this.text}}}</li>
        {{/each}}
      </ul>
      <div class="image crop wrapper">
        <img src="{{{body.0.image}}}" alt="{{{body.0.caption}}}"/>
      </div>
    </div>
    <div class="block block-lg-7">
      <h3>{{{body.1.title}}}</h3>
      <p>{{{body.1.copy}}}</p>

      {{#each body.1.caterers}}
      <div class="table">
        <div class="image pull table-cell align-top">
          <img src="{{{this.logo}}}" />
        </div>
        <div class="table-cell pad-left border-left">
          <a href="{{{this.url}}}"><strong>{{{this.title}}}</strong></a> <br>
          <p class="no-space">{{{this.address1}}}</p>
          <p class="no-space">{{{this.address2}}}<br></p>
          <p class="no-space"><i>Phone: {{{this.phone}}}</i></p>
          {{#if this.fax}}<p class="no-space"><i>Fax: {{{this.fax}}}</i> <br></p>{{/if}}
          {{#if this.email}}<p class="no-space"><em>{{{this.email}}}</em></p>{{/if}}
        </div>
      </div>
      <br>
      {{/each}}
  </div>
</div>
