<div class="header section">
  {{#if header}}
  <div class="banner parallax" style="background-image: url('{{{header_image}}}');"></div>
  <div class="title section">
    <h2>{{{title}}}</h2>
  </div>
  {{/if}}
</div>
<div class="body section">
  <div class="wrapper section grid">
    <div class="block block-md-6">
      <blockquote>{{{body.0.copy}}}</blockquote>
    </div>
    <div class="block block-lg-6">

      <h3>{{{body.0.title}}}</h3>
      <ul>
        {{#each body.0.events}}
          <li>{{{this.text}}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
